<ion-header>
  <ion-navbar color="primary">
    <ion-title>Fabricante</ion-title>
    <ion-buttons end>

      <button ion-button icon-only  (click)="editar()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
        
      <img style="max-width: 70%; margin-left: 50px;" src="{{url+foto}}" *ngIf="base64Image == ''"   >
      <img style="max-width: 70%; margin-left: 50px;" src="{{base64Image}}" *ngIf="base64Image != ''"   >
  
      <div>
        <button ion-button block (click)="presentActionSheet()" color="danger">Upload</button>
      </div>

    </ion-item>
  </ion-list>


  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-input placeholder="Digite..." [(ngModel)]="descricao" type="text"></ion-input>
        </ion-item>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>