page-usuario-edit {

    .toolbar-background-md {

        background: rgb(2,0,36)!important;
        background: linear-gradient(164deg, rgba(2,0,36,1) 35%, rgba(176,11,133,1) 71%, rgba(85,0,255,1) 100%)!important;
    
    }

    .ion-option {
        margin-left: 20px !important;
    }
    .select-text {
        font-size: 14px;
        margin-left: 9px;
        font-family: Open Sans !important;
        color: rgb(124, 20, 84);
    }

}
